**/*.obj
**/*.exe
**/*.pdf
**/*.ilk
**/*.pdb
**/*.csv
**/*.vsidx
**/*.suo
**/*.db
**/*.ipch
**/*.deps
**/*.cache
**/*.recipe
**/*.log
**/*.tlog
**/*.lastbuildstate
**/*.exp
**/*.lib
**/*.txt
**/*.opendb
/mandelParallel/mandelParallel.sln
